body {
    font-family: Arial, sans-serif;
}

#game-container {
    position: relative;
    width: 100%;
    height: 100vh;
}

button {
    cursor: pointer;
    transition: all 0.5s ease;
}
